<% if not user_signed_in? %>

    <div class="rows">
      <div class="jumbotron">
        <center>
          <b><p style="color:#black;font-size:25px;"> YOU ARE LOGGED OUT. PLEASE LOG IN TO SEE LIVE FEED  </p></b>
        </center>
      </div>
    </div>


<% else %>


<html>

<head>


  <style>
        #photos {
        opacity: .88;
      }

      #photos img {
        width: 30%;
        float: left;
        display: block;
        margin: 2px;
      }

      ul {
        list-style: none;
        margin: 0px auto;
        /*padding: 10px;*/
        display: block;
        max-width: 780px;
        text-align: center;
        margin-top: 50px;
      }

      #overlay {
        background: rgba(0,0,0, .8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        text-align: center;
      }

      #overlay img {
        margin: 10% auto 0;
        width: 550px;
        border-radius: 5px;
      }

      #photos {
        width: 100%;
      }

      #photo-gallery {
        width: 100%;
      }
    </style>

</head>

<body>


    <div class="rows">
      <div class="jumbotron">
        <center>
          <b><p style="color:#black;font-size:25px;vertical-align: center"> <b> IMAGES OF <%= current_user.email %></b> </p></b>
        </center>
      </div>
    </div>

<div id="photos">
    <% @images.each do |image| %>
      <%= image_tag "/#{image.split('/').last}" %>

    <% end %>

</div>

</body>
</html>


<% end %>
